li.App__brand[role="menuitem"], li.App__brand[role="menuitem"]:hover {
    font-size: 20px;
    border-bottom: 2px solid transparent;
    color: #666;
}
.Home {
	margin-top: 16px;
	font-size: 14px;
}
.NotFound {
    margin-top: 24px;
    text-align: center;
    font-size: 20px;
}
.Todo {
    margin-top: 8px;
}
.Todo__btn-group {
    margin-top: 8px;
    text-align: center;
}
.Todo__btn-group > button {
    margin-right: 8px;
}
.Conf__table {
    border-spacing: 8px;
    margin-left: auto;
    margin-right: auto;
}
.Conf__table td:first-child {
    vertical-align: top;
    text-align: right;
}
.Done {
    margin-top: 8px;
}
.Done tr > td:first-child {
    text-align: center;
}